xml2/CEF.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <define name="CEFConstituentArray">
        <element name="ConstituentArray">
            <oneOrMore>
                <element name="Site">
                    <optional>
                        <attribute name="id">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="ratio">
                            <data type="double"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="refid">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <oneOrMore>
                        <element name="Constituent">
                            <attribute name="refid">
                                <data type="NCName"/>
                            </attribute>
                        </element>
                    </oneOrMore>
                </element>
            </oneOrMore>
        </element>
    </define>
    <define name="CEF.model" combine="choice">
        <element name="Model">
            <attribute name="type">
                <value>CEF</value>
            </attribute>
            <ref name="CEFConstituentArray"/>
            <optional>
                <element name="IHJMagneticModel">
                    <attribute name="afm_factor"><data type="double"/></attribute>
                    <attribute name="structure_factor"><data type="double"/></attribute>
                </element>
            </optional>
        </element>
        <zeroOrMore>
            <choice>
                <element name="Parameter">
                    <attribute name="type">
                        <value>G</value>
                    </attribute>
                    <interleave>
                        <text/>
                        <ref name="CEFConstituentArray"/>
                        <optional>
                            <element name="Order">
                                <value>0</value>
                            </element>
                        </optional>
                    </interleave>
                </element>
                <element name="Parameter">
                    <attribute name="type">
                        <value>L</value>
                    </attribute>
                    <interleave>
                        <text/>
                        <ref name="CEFConstituentArray"/>
                        <element name="Order">
                            <data type="integer"/>
                        </element>
                    </interleave>
                </element>
            </choice>
        </zeroOrMore>
    </define>
</grammar>
