xml2/CEF.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" 
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <include href="core.rng"/>
    <define name="CEFConstituentArray">
        <element name="ConstituentArray">
            <oneOrMore>
                <element name="Site">
                    <optional>
                        <attribute name="id">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="ratio">
                            <data type="double"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="refid">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <oneOrMore>
                        <element name="Constituent">
                            <attribute name="refid">
                                <data type="NCName"/>
                            </attribute>
                        </element>
                    </oneOrMore>
                </element>
            </oneOrMore>
        </element>
    </define>
    <define name="CEF.model" combine="choice">
        <element name="Model">
            <attribute name="type">
                <a:documentation>Compound Energy Formalism</a:documentation>
                <value>CEF</value>
            </attribute>
            <ref name="CEFConstituentArray"/>
            <optional>
                <element name="MagneticOrdering">
                    <attribute name="type">
                        <a:documentation>Inden-Hillert-Jarl model for magnetic ordering</a:documentation>
                        <value>IHJ</value>
                    </attribute>
                    <attribute name="afm_factor"><data type="double"/></attribute>
                    <attribute name="structure_factor"><data type="double"/></attribute>
                    <empty/>
                </element>
            </optional>
        </element>
        <zeroOrMore>
            <element name="Parameter">
                <attribute name="type">
                    <choice>
                        <value>G</value>
                        <value>L</value>
                        <value>TC</value>
                        <value>BMAGN</value>
                    </choice>
                </attribute>
                <interleave>
                    <optional>
                        <text/>
                    </optional>
                    <zeroOrMore>
                        <ref name="Interval"/>
                    </zeroOrMore>
                    <ref name="CEFConstituentArray"/>
                    <optional>
                        <element name="Order">
                            <data type="integer"/>
                        </element>
                    </optional>
                </interleave>
            </element>
        </zeroOrMore>
    </define>
</grammar>
