xml2/database.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <include href="core.rng"/>
    <include href="CEF.rng"/>
    <include href="MQMQA.rng"/>
    <start>
        <element name="Database">
            <a:documentation>Self-consistent database of material properties</a:documentation>
            <interleave>
                <oneOrMore>
                    <element name="ChemicalElement">
                        <a:documentation>Pure chemical element</a:documentation>
                        <attribute name="id">
                            <a:documentation>Pure chemical element identifier</a:documentation>
                            <data type="string"/>
                        </attribute>
                    </element>
                </oneOrMore>
                <zeroOrMore>
                    <ref name="Expr"/>
                </zeroOrMore>
                <oneOrMore>
                    <element name="Phase">
                        <a:documentation>A material phase, such as a solid, liquid, or gas</a:documentation>
                        <attribute name="id">
                            <data type="NCName"/>
                        </attribute>
                        <choice>
                            <ref name="CEF.model"/>
                            <ref name="MQMQA.model"/>
                        </choice>
                    </element>
                </oneOrMore>
            </interleave>
        </element>
    </start>
    <define name="Expr">
        <element name="Expr">
            <optional>
                <attribute name="id">
                    <data type="NCName"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <ref name="Interval"/>
            </zeroOrMore>
        </element>
    </define>
</grammar>
