xml2/experiment3.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <include href="CEF.rng"/>
    <include href="MQMQA.rng"/>
    <start>
        <element name="Database">
            <interleave>
                <oneOrMore>
                    <element name="ChemicalElement">
                        <attribute name="id">
                            <data type="NCName"/>
                        </attribute>
                    </element>
                </oneOrMore>
                <zeroOrMore>
                    <ref name="Expr"/>
                </zeroOrMore>
                <oneOrMore>
                    <element name="Phase">
                        <attribute name="id">
                            <data type="NCName"/>
                        </attribute>
                        <choice>
                            <ref name="CEF.model"/>
                            <ref name="MQMQA.model"/>
                        </choice>
                    </element>
                </oneOrMore>
            </interleave>
        </element>
    </start>
    <define name="Expr">
        <element name="Expr">
            <optional>
                <attribute name="id">
                    <data type="NCName"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <element name="Interval">
                    <attribute name="in">
                        <data type="NCName"/>
                    </attribute>
                    <attribute name="lower">
                        <data type="decimal"/>
                    </attribute>
                    <attribute name="upper">
                        <data type="decimal"/>
                    </attribute>
                    <oneOrMore>
                        <choice>
                            <text/>
                            <ref name="Expr"/>
                        </choice>
                    </oneOrMore>
                </element>
            </zeroOrMore>
        </element>
    </define>
</grammar>
